/ShapeColor.class
/ShapeShadingType.class
/ShapeType.class
/StartAndEndPointMode.class
/ShapeList.class
/MouseHandler.class
/Pair.class
/ShapeConfiguration.class
/ShapeDrawer.class
/CollisionDetector.class
